
.main-container {
    border-style: solid;
    border-width: 2px;
    border-color: limegreen;
    padding: 10px;
    background: #BB01FE;
}

h1 {
    border-style: solid;
    border-width: 2px;
    border-color: #FEED01;
    background: #FE7701;
}

p {
    border-style: solid;
    border-width: 2px;
    border-color: #01C3FE;
    background: #0112FE;
}

  .secondary-container {
    border-style: solid;
    border-width: 1px;
    border-color: limegreen;
    padding: 5px;
    background: #3CFE01;

  }
