*{
  margin: 0px;
  background-color: #CCFFCC;
}

.top{
  background-color: #006666;
  padding: 40px;
}

.title{
  background-color: #006666;
  text-align: center;
  color: white;
  font-size: 60px;
}
.nav{
  background-color: darkgray;
  border: dotted;
  padding: 15px;
  font-size: 20px;
  color: white;
  height: 40px;
  width:100%;
}

.about {
  float:left;
  padding-left: 50px;
  background-color: inherit;
  display: inline-block;

}
.home {
  text-align: center;
  margin: auto;
  background-color:inherit;
  display: inline-block;
}
.services{
  text-align: center;
  margin: auto;
  background-color:inherit;
  display: inline-block;
}
h2:hover{
  color: blue;
}
.moreinfo {
  float:right;
  background-color:inherit;
  display: inline-block;
}

}
.pclass{
  display: block;
}

.main{
  text-align: center;
}
