*{
  margin: 0px;
  background-color: #CCFFCC;
}

.main{
  background-color: #CCFFCC;
  padding: 0px;
}

.top{
  background-color: #006666;
  padding: 40px;
}

.title{
  text-align: center;
  color: white;
  size: 72px;
}
