*{
  margin: 0px;
  background-color: #CCFFCC;
}

.top{
  background-color: #006666;
  padding: 40px;
}

.title{
  background-color: #006666;
  text-align: center;
  color: white;
  font-size: 60px;
}

.logo{
  float: left;
  height: 100;
  width: 100;
  background-color: #006666;
}
