*{
  margin: 0px;
  background-color: #CCFFCC;
}

.top{
  background-color: #006666;
  padding: 40px;
}

.title{
  background-color: #006666;
  text-align: center;
  color: white;
  font-size: 60px;
}

.logo{
  float: left;
  height: 90px;
  width: 90px;
  padding-left: 100px;
  vertical-align: middle;
  background-color: #006666;
}

.nav{
  background-color: gray;
  padding: 15px;
  font-size: 30px;
}

.about {
  text-align: left;
  background-color:inherit;
  vertical-align: middle;
}
.home {
  text-align: center;
  background-color:inherit;
  vertical-align: middle;
}
.moreinfo {
  text-align: right;
  background-color:inherit;
  vertical-align: middle;
}
